
p.question, li.question, div.question,p.question_points,p.question_num{
    margin-bottom: 0cm;
    margin-top: 10.0pt;
}
body{
    font-family:"Calibri","serif";
    font-size:11.5pt;
}
/*přebití předchozího pro zobrazení čtverců ve výsledkách*/
div.answer_box_result span.square{
    display:inline;
}
/*pokud je výsledek jen částečný je šedě*/
.partial_result {
    color: #808080;
}